.card-toggle {
  width: var(--card_width);
  height: var(--card_height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  padding: 0.5rem 1rem;

  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.card-image{
  width: var(--image_width);
  height: var(--image_height);
}

.card-arrow{
  width: var(--image_width);
  height: var(--image_height);
}



:root{
    --card_width: 500px;
    --card_height: 50px;
    --image_width: 40px;
    --image_height: 40px;
  background-color:rgb(32, 41, 64) ;
}

.card{
  width: var(--card_width);
  background-color:rgb(202, 170, 152);
  padding: 1rem;
  border-radius: 30px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  margin-bottom: 30px;

}



.card-content{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.field-label{
  font-weight: bold;
  font-size: large;
}

.field-input,
.field-input-bb
{
  
  background-color: rgb(154, 134, 120);
  border-radius: 8px;
  width: 400px;
  height: 30px;
  font-size: large;
}

.field-input-bb
{
  
  background-color: rgb(154, 134, 120);
  border-radius: 8px;
  width: 400px;
  height: 70px;
  font-size: large;
  text-align: left; 
  padding: 10px;
   resize: none;
}

.submit-button,
.section-button
{
  background-color: rgb(75, 64, 56);
  color: white;
  border-radius: 20px;
  width: 200px;
  height: 50px;
  font-size: x-large;

  margin-top: 20px;
}

.section-button{
  margin-top: 0px;
  height: 30px;
}


.content-wrapper{
  display: flex;
  justify-content: space-around;
}

.CV-part {
  width: 794px;
  min-height: 1123px;

  background-color: white;

  padding: 30px 50px;

  color: #111;

  font-family: "Arial", sans-serif;
  line-height: 1.4;

  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.General-Part {
  text-align: center;

  margin-bottom: 30px;
}

.name {
  font-size: 32px;

  letter-spacing: 1px;

  margin:0;
  margin-top: 15px;
}

#extra-info {
  font-size: 14px;
  color: #444;
  margin-bottom: -25px;
}

.remove
{
  background-color: red;
  border-radius: 20px;
  font-size: 15pt;
  width: 30px;
}

.remove-section{
background-color: red;
border-radius: 20px;
font-size: 20px;

}

.field-row{
  display: flex;
  gap: 20px;
}

.custom-border{
  border-style: solid;
  border-radius: 10px;
  margin-top: 10px;
  border-color: rgb(75, 64, 56);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.CV-title{
  font-size: 18px;
  font-weight: bold;
  

  letter-spacing: 1px;

  margin-bottom: 0;
}

hr {
  border: none;
  border-top: 2px solid #222;

  width: 100%;

  margin: 0 0 10px 0;
}


.resume-subsection h3 {
  font-size: 18px;
  margin-bottom: 0px;
  font-weight: 550;

}

.resume-subsection h4 {
  font-size: 15px;

  font-style: italic;
  font-weight: normal;

  margin-bottom: 0px;

  color: #444;
 
}

.resume-subsection p {
  margin: 0px;
  font-size: 11.5pt;
  
}

.resume-subsection {
  margin-bottom: 8px;
}

.resume-subsection h3,
.resume-subsection h4 {
  margin-top: 0;
}

.resume-subsection ul {
  margin: 4px 0;
  padding-left: 18px;
}

.resume-subsection li {
  margin: 2px 0;
  font-size: 12pt;
}

.single-bullet{
  margin-left: 20px;
}